body {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    margin: 0 auto;
    max-width: 90vw; height: 100%;
}

#new-plant {
    margin: 10px;
}

.plants-holder {
    display: grid; justify-content: center; align-items: center; gap: 1rem;
    margin: 10px;
}

.plant {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    padding: 10px;

    img {
        display: block;
        width: 90%; max-width: 500px;
        height: 400px; max-height: 400px;
        margin: 0 auto;
    }
}

.plant:hover {
    background-color: #e4e4e4;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

@media (min-width: 600px) {
    .plants-holder { 
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 900px) {
    .plants-holder {
        grid-template-columns: repeat(3, 1fr);
    }
}