body {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}

#homepage {
    margin: 10px;
}

form {
    display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;
    width: 50%; height: 80vh;
    padding: 10px;
    background-color: #e7ffc7;
    border-radius: 20px;

    label {
        display: flex; flex-direction: column; justify-content: center;
        width: 60%;
        font-size: larger;
    }

    .plant-input {
        width: 60%;

        input {
            padding: 10px;
        }
    }

    .field-error {
        color: red;
    }

    #add-btn {
        width: 20%; height: 5%;
    }
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}