html {
    height: 100vh;
}

body {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    box-sizing: border-box;
    height: 100vh;
}

.succulent {
    display: flex; justify-content: center; align-items: center; gap: 20px;
    width: 60%; min-width: 0;
    margin: 0 auto; padding: 10px;
    background-color: #e7ffc7;
    border-radius: 30px;
}

.left-side {
    display: flex; flex-direction: column; justify-content: center; align-items: center;

    img {
        width: 90%; max-width: 100%;
        height: auto;
        border-radius: 20px;
    }
    
    #img_url_src {
        font-size: 80%;
    }
}

.right-side {
    display: flex; flex-direction: column; justify-content: center; align-items: flex-start;
}

#homepage {
    padding: 16px;
}

@media (max-width: 900px) {
    body {
        height: 110vh;
    }

    .succulent {
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        width: 80%;
    }

    .right-side {
        display: flex; flex-direction: column; justify-content: center; align-items: center;
    }
}